/* ---------------------- Self-made ------------------- */

.py-6{
    padding: 55px 0;
}
.py-7{
    padding: 65px 0;
}
.py-8{
    padding: 90px 0;
}
footer *{
        list-style: none;
        padding: 0;
}
footer .logo-title img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
.footer-social a{
    text-decoration: none;
    color: gray;
}
.footer-social a i{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer_svg{
    width: 20px;
    height: 20px;
}
.footer_bg{
    background: rgb(207, 200, 200);
}
@media (max-width:700px){
    .feedback{  
        right: 50%;
        transform: translate(50%,-50%);
        width: 350px;
    }
}