/* ---------------------- Self-made ------------------- */
footer *{
        list-style: none;
        padding: 0;
}
footer .logo-title img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
.footer-social a{
    text-decoration: none;
    color: gray;
}
.footer-social a i{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer_svg{
    width: 20px;
    height: 20px;
}
.footer_bg{
    background: rgb(207, 200, 200);
}
.footer_options{
    display: flex;
    flex-wrap: wrap;
    transition: flex 1s;
}
.footer_option {
    width: calc(100% / 4);
    transition: .5s;
}
@media (max-width:1200px){
    .footer_option {
        width: calc(100% / 2);
    }
}
@media (max-width:768px){
    .footer_option {
        width:100%;
    }
}
@media (max-width:700px){
    .feedback{  
        right: 50%;
        transform: translate(50%,-50%);
        width: 350px;
    }
}