.nav_header{
    max-width: 1280px;
    transition: .5s;
}
.nav_right{
    width: calc(100% - 100px);
}
.PACK_img{
    cursor: pointer;
    background-image: url('../img/logo.jpg');
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    transition: .5s;
}
.options_hover{
    transition: .5s;
}
.options_hover:hover{
    background-color: rgba(0, 0, 0, .2);
}
.my_nav{
    position: relative;
}
.user_login{
    position: absolute;
    bottom: -40px;
    right: 0;
    padding: 8px;
    border-radius: 5px;
    background: white;
    transform:scale(0);
    transition: .5s;
}
.user_login a{
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}
.user_login.active{
    z-index:10;
    transform: scale(1);
}
.navbar_icon{
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, .5);
    margin: 20px 0;
    margin-left: 10px;
    transition: .5s;
}
.navbar_icon::after{
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 2px;
    background: rgba(0, 0, 0, .5);
}
.navbar_icon::before{
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 10px;
    height: 2px;
    background: rgba(0, 0, 0, .5);
}
.navbar_icon.active{
    width: 30px;
    margin-left: 0;
    transform: rotate(45deg);
}
.navbar_icon.active::before{
    content: '';
    bottom: 0;
    right: 0;
    width: 30px;
    transform: rotate(-90deg);
}
.navbar_icon.active::after{
    content: '';
    top: 0;
    right: 0;
    opacity: 0;
    transform: rotate(0deg);
}
@media(max-width:768px){
    .PACK_img{
        height: 50px;
        width: 50px;
    }
    .ml-lg-16{
        margin-left: 16px;
    }
    .user_login{
        width: 100%;
    }
}
@media (min-width:768px){
    
}
