/* --------------------background myself-------------------------- */
.bg-circle{
    background: #10B981;
}
.bg-check_shopping{
    background: #F3F4F6;
}

main *{
    margin: 0;
}
main{
    background: #D1D5DB;
    min-height: 100vh;
}
.check_shopping{
    padding: 40px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, .2);
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.schedule_line{
    position: relative;
}
.schedule_Back_line{
    position: relative;
}
.schedule_line::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 35%;
    height: 10px;
    background: #6EE7B7;
    z-index: 5;
}

.schedule_Back_line::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 35%;
    height: 10px;
    background: #6EE7B7;
    z-index: 5;
}
.order_completed{
    font-size: 3em;
    font-weight: bold;
}
.logo img{
    object-fit: cover;
    object-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
}
.count{
    padding-right: 32px;
}
.count input{
    padding: 0 8px;
    margin: 0 8px;
    max-width: 32px;
}
@media(max-width:768px){
    .schedule_line::before{
        width: 30%;
    }
    .confirm_shopping::after{
        width: 20%;
    }
    .schedule_Back_line::after{
        width: 30%;
    }
    .fs-md-9{
        font-size: 9pt;
    }
}