.pr-1{
    padding-right: 4px;
}
.pl-1{
    padding-left: 4px;
}
.p-24{
    padding: 24px;
}
.pl-24{
    padding-left: 24px;
}
.pl-40{
    padding-left: 40px;
}
.py-6{
    padding: 55px 0;
}
.py-7{
    padding: 65px 0;
}
.py-8{
    padding: 90px 0;
}
.pt-20{
    padding-top: 20px;
}
.px-20{
    padding:0 20px;
}
.py-20{
    padding: 20px 0;
}
.p-20{
    padding: 20px;
}
.pb-40{
    padding-bottom: 40px;
}
.py-96{
    padding: 96px 0;
}
.pt-96{
    padding-top: 96px;
}
.pb-96{
    padding-bottom: 96px;
}
/* ------------------- */
.mb-80{
    margin-bottom: 80px;
}
.mt-64{
    margin-top: 64px;
}
.mr-40{
    margin-right: 40px;
}
.ml-40{
    margin-left: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.ml-8{
    margin-left: 8px;
}
.ml-20{
    margin-left: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-16{
    margin-left: 16px;
}
/* ---------------------- */
.w-20{
    width: 5rem;
}
@media(min-width:768px){
    .ml-md-8{
        margin-left: 8px;
    }
    .ml-md-16{
        margin-left: 16px;
    }
}
@media(max-width:768px){
    .mt-max768-1{
        margin-top: 8px;
    }
    .px-max768-12{
        padding-left:12px !important;
        padding-right:12px !important;
    }
    .ml-lg-16{
        margin-left: 16px;
    }
}
@media(max-width:576px){
    .ml-40{
        margin-left:0;
    }
}
@media(min-width:576px){
    .mr-sm-0{
        margin-right: 0;
    }
    .mr-sm-40{
        margin-right: 40px;
    }
    .ml-40{
        margin-left:0;
    }
}
